.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #2d3142;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .scroll-to-top:hover{
    background-color: #EF8354;
    transition: 0.3s ease 0s, left 0.3s ease 0s;
  }

  .scroll-to-top.show {
    opacity: 1;
  }
  