#home {

    .sec1 {
        height: 90vh;
        text-align: center;
        margin-top: 4em;


        @media (min-width:1919px) {
            height: 60vh;
        }

        @media (max-width:991px) {
            margin-top: -2em;
            height: 65vh;
        }

        .img-Carro {

            .imgFundo {
                position: absolute;
                margin-top: -10em;
                right: 0;
                height: auto;
                width: auto;
                max-height: 50em;
                z-index: -1;

                @media (max-width:1360px) {
                    max-height: 40em;
                    margin-top: -8em;
                }
            }


            @media (max-width:1919px) {

                height: 50vh;
            }

            img {
                max-height: 25em;
                margin-top: 7em;

                @media (max-width:1360px) {
                    margin-top: 9em;

                }
            }

            @media (max-width: 991px) {
                display: none;
            }
        }


        .text-Carro {

            margin-top: 5em;

            h4 {
                text-align: left;
                font-weight: bold;
                font-size: 1.4em;

                @media (max-width: 991px) {
                    text-align: center;
                    font-size: 1.2em;
                }
            }

            h1 {
                text-align: left;
                font-weight: bold;

                .markText {
                    color: #EF8354;
                }

                @media (max-width: 991px) {
                    text-align: center;

                }
            }

            p {
                text-align: left;

                @media (max-width: 991px) {
                    text-align: center;

                }
            }

            .btnReserve {
                background-color: #EF8354;
                border-color: #EF8354;
            }

            .btnReserve:hover {
                background-color: #e2652f;
                border-color: #EF8354;
            }



            .btnLearnMore {
                position: relative;
                background-color: white;
                border-color: #2D3142;
                color: black;
                z-index: 1;
            }

            .btnLearnMore:hover {
                color: white;
            }

            .btnLearnMore::after {
                content: '';
                border-radius: 3px;
                position: absolute;
                left: 0;
                bottom: 0%;
                height: 100%;
                width: 0;
                background-color: #2D3142;
                transition: 0.3s ease 0s, left 0.3s ease 0s;


            }

            .btnLearnMore:hover::after {
                content: '';
                border-radius: 3px;
                position: absolute;
                left: 0;
                bottom: 0%;
                height: 100%;
                width: 100%;
                z-index: -1
            }



        }

    }

    .sec2 {
        text-align: center;
        overflow-x: auto;
        padding-bottom: 2em;
        padding-top: 4em;
        margin-bottom: 2em;
        background-image: url(./img/Home/sec2-bg.png);
        background-position: center;
        user-select: none;


        .row {
            margin: 0;
        }

        Button {
            background-color: #2d3142;
            border-color: #2d3142;
        }

        Button:hover {
            background-color: #4e5575;
            border-color: #4e5575;
        }

        .titleCard {
            font-weight: bold;
            border-bottom: #2d3142 2px solid;
        }





    }

    ::-webkit-scrollbar {
        width: 0.5em;
        border-radius: 5px;

    }

    ::-webkit-scrollbar-thumb {
        background-color: #e2652f;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: #4e5575;
        border-radius: 5px;
        margin: 0 0.5em 0 0.5em;
    }

    .sec3 {

        text-align: center;
        color: #2d3142;
        padding-bottom: 5em;

        h1 {
            text-align: center;
            font-weight: bold;
        }

        .iconsSec3 {
            text-align: center;

            h3 {
                color: #EF8354;
            }

            .icon {
                color: #EF8354;
                font-size: 8em;
            }
        }
    }

    .sec4{
        background-color: #2D3142;
        color: #EF8354;
        padding-bottom: 2em;

        h1{
            padding-top: 1em;
            text-align: center;
            font-weight: bold;
        }

        h4{
            text-align: center;
        }

        .icon{
            text-align: center;
            font-size: 3em;
            animation: jumping 2s linear infinite;

            @keyframes jumping {
                from {
                    transform: translateY(-20px);
                    opacity: 1;
                }
            
                50% {
                    transform: translateY(0);
                    opacity: 0;
                }
            
                to {
                    transform: translateY(-20px);
                    opacity: 0;
                    
                }
            
            }
        }

        .avaliation{
            color: black;

            .cardBody{
                border-radius: 5px;
            }

            .text-av{
                height: 18em;
                text-align: justify;
            }

            img{
                margin-right: 1em;
                max-height: 4em;
            }
        }

        
    }

}