#sobre {

    .sec1 {
        background-image: url(../img/Sobre/sec1-bg.jpg);
        background-position: center;
        background-size: cover;
        height: 60vh;
    }

    h1{
        text-align: center;
        font-weight: bold;
        margin-top: 0.5em;
        color: #2D3142;
    }

    h3{
        text-align: center;
        color: #2D3142;
        padding-bottom: 0.5em;
        border-bottom: #EF8354 5px solid;
    }

    .sec2{
        margin-top: 2em;
        text-align: center; 
        padding-bottom: 2em;
        h5{
            text-align: justify;

            img{
                float: left;
                max-height: 10em;
                margin-right: 1em;
                margin-top: 0.3em;

                @media (max-width:991px){
                    margin-bottom: 1.5em;
                }
            }
            
        }
    }

}