#NavigationBar {
    background-color: #2D3142;

    .toggle{
        color: #9698a1;
    }

    Button{
        border: none;
    }

    .btnUser{
        .btnRegister{
            background-color: #EF8354;
        }

        .btnRegister:hover{
            background-color: #eb7441;
        }
    
        .btnLogin{
            background-color: transparent;
        }

        .btnLogin:hover{
            background-color: #161927;
        }
    }

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: #EF8354;
    }

    .desktopLink {
        
        @media (max-width: 991px) {
            display: none;
        }
    }

}