#NavigationBar {
    background-color: #2D3142;
    height: 7em;
    .toggle{
        color: #9698a1;
        font-size: 1.5em;
        
    }

    Button{
        border: none;
        padding: 1em;
    }

    img{
        max-height: 6em;
    }

    .btnUser{
        .btnRegister{
            background-color: #EF8354;
        }

        .btnRegister:hover{
            background-color: #e2652f;
        }
    
        .btnLogin{
            background-color: transparent;
        }

        .btnLogin:hover{
            background-color: #161927;
        }
    }

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: #EF8354;
    }

    .desktopLink {
        
        @media (max-width: 991px) {
            display: none;
        }
    }

}